* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}
.contLoserP{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(27, 27, 27, 0.671), rgba(0, 0, 0, 0.61)), url('/images/ruedaFortunabandonada.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.contLoserP .infoTheLoser {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contLoserP .infoTheLoser .contLetters {
    color: white;
    text-align: center;
    font-size: 2em;
}


.contLoserP .ContImgsLoser {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contLoserP .ContImgsLoser .contTaza {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contLoserP .ContImgsLoser .contTaza img {
    width: 50%;
    height: 100%;
}
.contLoserP .ContImgsLoser .contLogopark {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contButtonBack {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.anclaButton {
    text-decoration: none;
}


.buttons_global_StyleTatto {
    color: black;
    border: 2px solid white;
    background: white;
    padding: 10px 20px;
    border-radius: 3px; 
    position: relative;
    z-index: 0; margin-top: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    text-align: center;
    cursor: pointer;
    border: none;
    visibility: visible;
    transition: 1s;
  }


.buttons_global_StyleTatto:hover {
  color: white;
}
  .buttons_global_StyleTatto::after {
      content: "";
      background: black;
      position: absolute;
      z-index: -1;
      display: block;
      left: -20%;
      right: -20%;
      top: 0;
      bottom: 0;
      transform: skewX(-45deg) scale(0, 1);
      transition: all 0.2s ease;
  }
  
  .buttons_global_StyleTatto:hover::after {
      transition: all 0.3s ease-out;
      transform: skewX(-45deg) scale(1, 1);
}

/* boton invisible */
.btnHidden {
    width: 0;
    height: 0;
    visibility: hidden;
    transition: 1s;
}

/* lente negro paraq trancision */
.lentDark {
    background-color: #303030;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 1s;
}
.lentDarkRemove {
    transition: 1s;
    background: transparent;
}


.contLoserP .vapur {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: vapour 5s linear infinite;
}

@keyframes vapour {
    0%, 100% {
        backdrop-filter: blur(0);
    }
    50% {
        backdrop-filter: blur(2px);
    }
}

.contLoserP i {
    position: absolute;
    width: 2px;
    height: 10px;
    top: -10px;
    background-color: #d3d3d3;
    animation: rain linear infinite;
}

@keyframes rain {
    0% {
        top: -10px;
    }
    100% {
        top: 100vh;
    }
}