* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.contFatherPresent {
  width: 100%;
  height: 100vh;
}
.contFatherPresent .lentDark {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.798);
}
.contFatherPresent .contBackIm {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/images/Torre-Mirador-Parque-del-Cafe.jpg");
}
.lentDark .contBton {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.contBton a {
  text-decoration: none;
}


.buttons_global_StyleTatto {
  color: white;
  border: 2px solid white;
  background: lime;
  padding: 10px 20px;
  border-radius: 3px; 
  position: relative;
  z-index: 0; margin-top: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  text-align: center;
  cursor: pointer;
  border: none;
}


.buttons_global_StyleTatto:hover {
color: black;
}
.buttons_global_StyleTatto::after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.2s ease;
}

.buttons_global_StyleTatto:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}


/* lemte oscuro */

.lentdarkIndex {
  background-color: #303030;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 1s;
  z-index: 100;
}

.lentHiddenIndex {
  transition: 1s;
  background: transparent;
  z-index: 0;
}