@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

body {
	background-image: url('/images/Torre-Mirador-Parque-del-Cafe.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
}

.contMessegeWinn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

.contMessegeWinn h1 {
	color: #fff;
	font-size: 10em;
	z-index: 100;
}

.contMessegeWinn h1 span {
	-webkit-text-stroke: 3px #fff;
	/* color: transparent; */
}

.contMessegeWinn p {
	color: #fff;
	font-size: 3em;
	z-index: 100;
	text-align: center;
}

/* lente negro para trancision */
.lentDarkWinner {
	background-color: #303030;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.9s;
	z-index: 100;
}

.lentDarkRemoveWinner {
	transition: 0.9s;
    background: transparent;
	z-index: 0;
}

/* letras winner */
.Felicidades {
    transition: 1s;
    display: none;
}
.ganaste {
    transition: 1s;
    display: none;
}